
body {
    font-family: "Parkinsans", sans-serif;
    background-color: #f3f4f6;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
    margin: 0;
    flex-direction: column;
    animation: colorChange 5s infinite alternate;
  }

  @keyframes colorChange {
    0% {
        background-color: #fff7eb; /* Very Light Peach */
    }
    25% {
        background-color: #fff2e0; /* Very Light Apricot */
    }
    50% {
        background-color: #ffe8d1; /* Light Orange Cream */
    }
    75% {
        background-color: #ffedd6; /* Soft Light Orange */
    }
    100% {
        background-color: #fff5e4; /* Back to Very Light Peach */
    }
}

  
  .quiz-container{
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow:  0px 2px 8px #d1a692;
    width: 90%;
    max-width: 400px;
  }
  
  h1 {
    color: #ff5100;
  }
  
  #timer {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  #question-box {
    font-size: 1.2em;
    margin: 20px 0;
  }
  
  button, .btn {
    background-color: #ff5100;
    color: #ffffff;
    border: none;
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: all ease-in-out 1s;
  }

  button:hover, .btn:hover{
    background-color: #c74002;
  } 
  
  button:disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
  }
  
  #score-box {
    margin-top: 20px;
    font-size: 1.2em;
    color: #16a34a;
  }
  #reward-section {
    margin-top: 20px;
    text-align: center;
    font-size: 1.1em;
    color: #ff5100;
  }
  
  #reward-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #reward-section input, #reward-section select, #reward-section button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
  }

  .move{
    position: fixed;
    top: 0;
    background: #fff5e4;
    padding: 10px;
    margin-top: 20px;
  }

  
 .winning_numbers span{
  padding: 5px 10px;
  /* border: 2px solid #f7a985; */
  background: #ffdbca;
  border-radius: 50%;
 }
.about {
  text-align: justify;
 background: #fff;
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(31, 31, 31, 0.1); /* Subtle shadow for depth */
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  min-width: 80%;
}

.snowflakes-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 999;
}

.snowflake {
  position: absolute;
  top: -10px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
      transform: translateY(-10px);
      opacity: 1;
  }
  100% {
      transform: translateY(100vh);
      opacity: 0.5;
  }
}